
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('/Miniblog/images/img_4.jpg');">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="post-entry text-center">
                    <h1 class="">Bizimle İletişime Geçin! 😊</h1>
                    <p class="lead mb-4" style="color : #f36100">Aşağıdaki mesaj bölümünden veya iletişim bilgilerimizden bize ulaşabilirsiniz!</p>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("/Views/Contact/SendMessage.cshtml")



