@model EntityLayer.Concretes.Contact

@*
    Partial View
*@

<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-7 mb-5">
                @using (Html.BeginForm("SendMessage", "Contact", FormMethod.Post))
                {
                    <div class="row form-group">
                        <div class="col-md-12 mb-3 mb-md-0">
                            <label class="text-black" for="Name">Adınız</label>
                            <input type="text" class="form-control" asp-for="Name">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="Email">Email</label>
                            <input type="email" class="form-control" asp-for="Email">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="Subject">Konu</label>
                            <input type="text" class="form-control" asp-for="Subject">
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <label class="text-black" for="Message">Mesajınız</label>
                            <textarea cols="30" rows="12" class="form-control" placeholder="Buraya mesajınızı yazabilirsiniz..." asp-for="Message"></textarea>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-outline-warning text-white py-2 px-4">Gönder</button>
                        </div>
                    </div>
                }
            </div>
            @await Component.InvokeAsync("ContactAddressPartial")
        </div>
    </div>
</div>