@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<div class="site-wrap bg-image">

    @await Component.InvokeAsync("DefaultFeaturedBlogsPartial")

    @await Component.InvokeAsync("DefaultRecentBlogsPartial", new { pageNumber = Model })

</div>

