@{
    Layout = "~/Views/Shared/_FrontLayout.cshtml";
}

<div class="site-wrap bg-image">

    @await Html.PartialAsync("/Views/Default/FeaturedPosts.cshtml")

    @await Html.PartialAsync("/Views/Default/RecentPosts.cshtml")

    @* @await Html.PartialAsync("/Views/Default/OtherFeaturedPosts.cshtml") *@
 
    @await Html.PartialAsync("/Views/EmailSubscription/AddSubscriber.cshtml")

</div>

