<div class="site-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-4">
                <div class="col-4 site-logo">
                    <a href="/Default/Index/" class="text-black h2 mb-0">
                        <img src="~/MiniBlog/images/fiton-logo.svg" alt="logo">
                    </a>
                </div>
                <br />
                <p>FitOn Gym olarak vücut geliştirme, fitness ve dayanıklılık antrenmanları gibi birçok alanda sunduğumuz profesyonel desteklerle üyelerimizi hedeflerine ulaştırıyoruz. Modern sistemler ve teknoloji odaklı çözümlerle size ihtiyaç duyduğunuz motivasyonu ve desteği sunuyoruz.</p>
            </div>
            <div class="col-md-3 ml-auto">
                <!-- <h3 class="footer-heading mb-4">Navigation</h3> -->
                <ul class="list-unstyled float-left mr-5">
                    <li><a href="/About/Home/">Hakkımızda</a></li>
                    <li><a href="/Contact/Home/">İletişim</a></li>
                    <li><a href="/Blog/Index/">Kullanıcı Girişi</a></li>
                </ul>
                <ul class="list-unstyled float-left">
                    <li><a href="/Blog/BlogsByCategory/2/">Pilates</a></li>
                    <li><a href="/Blog/BlogsByCategory/5/">Crossfit</a></li>
                    <li><a href="/Blog/BlogsByCategory/6/">Vücut Geliştirme</a></li>
                    <li><a href="/Blog/BlogsByCategory/3/">Diyet</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div>
                    <h3 class="footer-heading mb-4">Sosyal Medya Hesaplarımız</h3>
                    <p>
                        <a href="" target="_blank"><span class="icon-medium p-2"></span></a>
                        <a href="https://www.linkedin.com/in/yasinramazangok/" target="_blank"><span class="icon-linkedin p-2"></span></a>
                        <a href="https://github.com/yasinramazangok" target="_blank"><span class="icon-github p-2"></span></a>
                        <a href="mailto:yasinrmzngok@gmail.com" target="_blank"><span class="icon-envelope p-2"></span></a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p>
                    Copyright &copy; <script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır. | Designed by <a href="https://www.linkedin.com/in/yasinramazangok/" target="_blank">Yasin Ramazan GÖK</a>
                </p>
            </div>
        </div>
    </div>
</div>
