<head>
    <title>FitOn Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700|Playfair+Display:400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="~/MiniBlog/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/MiniBlog/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/MiniBlog/css/magnific-popup.css">
    <link rel="stylesheet" href="~/MiniBlog/css/jquery-ui.css">
    <link rel="stylesheet" href="~/MiniBlog/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/MiniBlog/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/MiniBlog/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/MiniBlog/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="~/MiniBlog/css/aos.css">

    <link rel="shortcut icon" href="/MiniBlog/images/fiton-favicon.png" />

    <link rel="stylesheet" href="~/MiniBlog/css/style.css">
</head>

