@using EntityLayer.Concretes
@model List<Comment>

@*
    Partial View
*@

<div class="pt-5">
    <h3 class="mb-5">6 Comments</h3>
    <ul class="comment-list">
        @foreach (var item in Model)
        {
            <li class="comment">
                <div class="vcard">
                    <img src="images/person_1.jpg" alt="Image placeholder">
                </div>
                <div class="comment-body">
                    <h3>@item.Name</h3>
                    <div class="meta">@(((DateTime)item.Date).ToString("dd.MM.yyyy"))</div>
                    <p>@item.CommentText</p>
                    <p><a href="#" class="reply rounded">Yanıtla</a></p>
                </div>
            </li>
        }
    </ul>

    @await Html.PartialAsync("/Views/Comment/LeaveComment.cshtml")
