@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hata!</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700,900" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/Error404/colorlib-error-404-16/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Error404/colorlib-error-404-16/css/style.css" />
</head>
<body>
    <div id="notfound">
        <div class="notfound-bg"></div>
        <div class="notfound">
            <div class="notfound-404">
                <h1>HATA!!!</h1>
            </div>
            <br />
            <br />
            <h2>ANASAYFAYA DÖNEBİLİRSİNİZ..</h2>
            <br />
            <a href="/Default/Index/" class="home-btn">Ana Sayfaya Dön</a>
            <a href="https://www.linkedin.com/in/yasinramazangok/" target="_blank" class="contact-btn">BİZİMLE İLETİŞİME GEÇİN</a>
            <div class="notfound-social">
                <a href="" target="_blank"><i class="fa fa-medium"></i></a>
                <a href="https://www.linkedin.com/in/yasinramazangok/" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="https://github.com/yasinramazangok" target="_blank"><i class="fa fa-github"></i></a>
                <a href="mailto:yasinrmzngok@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
            </div>
        </div>
    </div>
</body>
</html>
