@*
    Partial View
*@

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/Blog/Index/" class="brand-link">
        <img src="~/BlogAdminLTE/dist/img/logo/fiton-logo.svg" alt="FitOn Admin" class="brand-image img-size-64"
             style="opacity: .8">
        <span class="brand-text">Admin</span>
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/Blog/Index/" class="nav-link">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            Bloglar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Author/Index/" class="nav-link">
                        <i class="nav-icon fas fa-user-edit"></i>
                        <p>
                            Yazarlar
                        </p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-comment"></i>
                        <p>
                            Yorumlar
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/Comment/Index/" class="nav-link">
                                <i class="far fa-comment-dots nav-icon"></i>
                                <p>Yayınlanan Yorumlar</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Comment/RemovedCommentsList/" class="nav-link">
                                <i class="far fa-trash-alt nav-icon"></i>
                                <p>Kaldırılan Yorumlar</p>
                            </a>
                        </li>                     
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/Category/Index/" class="nav-link">
                        <i class="nav-icon fas fa-tags"></i>
                        <p>
                            Kategoriler
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/About/Index/" class="nav-link">
                        <i class="nav-icon fas fa-info-circle"></i>
                        <p>
                            Hakkımızda
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Contact/Index/" class="nav-link">
                        <i class="nav-icon fas fa-envelope"></i>
                        <p>
                            İletişim
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Chart/Index/" class="nav-link">
                        <i class="nav-icon fas fa-chart-line"></i>
                        <p>
                            Grafikler
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Blog/Index/" class="nav-link">
                        <i class="nav-icon fas fa-user-shield"></i>
                        <p>
                            Yetkilendirme
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Account/Logout/" class="nav-link">
                        <i class="nav-icon fas fa-sign-out-alt"></i>
                        <p>
                            Çıkış Yap
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>


@*
<style>
    .sidebar {
        background-color: #181824;
    }
</style>

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Blog/Index/">
                <span class="icon-bg"><i class="mdi mdi-view-dashboard-outline menu-icon"></i></span>
                <span class="menu-title">Bloglar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Author/Index/">
                <span class="icon-bg"><i class="mdi mdi-home menu-icon"></i></span>
                <span class="menu-title">Yazarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Comment/Index/">
                <span class="icon-bg"><i class="mdi mdi-alert-circle-outline menu-icon"></i></span>
                <span class="menu-title">Yorumlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Category/Index/">
                <span class="icon-bg"><i class="mdi mdi-image-multiple menu-icon"></i></span>
                <span class="menu-title">Kategoriler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/About/Index/">
                <span class="icon-bg"><i class="mdi mdi-apps menu-icon"></i></span>
                <span class="menu-title">Hakkımızda</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Contact/Index/">
                <span class="icon-bg"><i class="mdi mdi-email-box menu-icon"></i></span>
                <span class="menu-title">İletişim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Category/Index/">
                <span class="icon-bg"><i class="mdi mdi-shape menu-icon"></i></span>
                <span class="menu-title">Grafikler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Team/Index/">
                <span class="icon-bg"><i class="mdi mdi-account-multiple menu-icon"></i></span>
                <span class="menu-title">Yetkilendirme</span>
            </a>
        </li>
        <li class="nav-item sidebar-user-actions">
            <div class="sidebar-user-menu">
                <a href="/Account/Logout/" class="nav-link">
                    <i class="mdi mdi-logout menu-icon"></i>
                    <span class="menu-title">Çıkış Yap</span>
                </a>
            </div>
        </li>
    </ul>
</nav>
*@