@using EntityLayer.Concretes
@model List<Category>

@*
    Partial View
*@

@{
    string blogsByCategory = string.Empty;
}

<div class="sidebar-box" style="background:transparent">
    <h3 class="heading" style="color : #fff">Kategoriler</h3>
    <ul class="categories">
        @foreach (var item in Model)
        {
            if (item.Name == "YOGA")
            {
                blogsByCategory = "/Blog/BlogsByCategory/17";
            }
            if (item.Name == "PİLATES")
            {
                blogsByCategory = "/Blog/BlogsByCategory/14";
            }
            if (item.Name == "DİYET")
            {
                blogsByCategory = "/Blog/BlogsByCategory/15";
            }
            if (item.Name == "KARDİYO")
            {
                blogsByCategory = "/Blog/BlogsByCategory/12";
            }
            if (item.Name == "CROSSFİT")
            {
                blogsByCategory = "/Blog/BlogsByCategory/13";
            }
            if (item.Name == "VÜCUT GELİŞTİRME")
            {
                blogsByCategory = "/Blog/BlogsByCategory/16";
            }

            <li><a href="@blogsByCategory" style="color : #f36100">@item.Name<span></span></a></li>
        }
    </ul>
</div>