@using EntityLayer.Concretes
@model List<About>

@*
    Partial View
*@
@foreach (var item in Model)
{
    <div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('@item.ImageUrl');">
        <div class="container">
            <div class="row same-height justify-content-center">
                <div class="col-md-12 col-lg-10">
                    <div class="post-entry text-center">
                        <h1 class="">Hakkımızda</h1>
                        <p class="lead mb-4" style="color : #f36100">🏃 FitOn Health & Fitness, İstanbul, İzmir ve Eskişehir'deki yeni şubeleri ile sizlerle! 🏃</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

