@using EntityLayer.Concretes
@model List<About>

@*
    Partial View
*@

@foreach (var item in Model)
{
    <div class="site-section bg-transparent">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-md-2">
                    <img src="@item.ImageUrl1" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-5 mr-auto order-md-1">
                    <h2>Biz Kimiz?</h2>
                    <p>@item.Content</p>
                    <ul class="ul-check list-unstyled success">
                        <li>Modern Gym Salonlar ve Ekipmanlar</li>
                        <li>Profesyonel Diyetisyen Hizmetleri</li>
                        <li>Suplement Ve Sporcu Beslenme Ürünleri Satışı</li>
                    </ul>
                </div>
            </div>
            <div class="row text-center pt-5 border-top"></div>
        </div>
    </div>
}
