@using EntityLayer.Concretes
@model List<About>

@*
    Partial View
*@

@foreach (var item in Model)
{
    <div class="site-section bg-transparent">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="@item.ImageUrl2" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-5 ml-auto">
                    <h2>Neler Yapıyoruz?</h2>
                    <p class="mb-4">@item.Content1</p>

                    <ul class="ul-check list-unstyled success">
                        <li>Kişiye Özel Beslenme Programları</li>
                        <li>Kişiye Özel Zayıflama Programları</li>
                        <li>Günlük Form Takibi</li>
                        <li>Ücretsiz Demo Dersler</li>
                        <li>Grup Dersleri(Yoga, Pilates, vb.)</li>
                    </ul>
                </div>
            </div>
            <br />
            <br />
            <div class="row text-center pt-5 border-top"></div>
        </div>
        @await Html.PartialAsync("/Views/EmailSubscription/AddSubscriber.cshtml")
    </div>
}