@using EntityLayer.Concretes
@model List<Category>

@*
    Partial View
*@

    <option value="">Kategori Seçiniz</option>
    @foreach (var item in Model)
    {
        <option value="@item.CategoryId">@item.Name</option>
    }
